.blogWrap {
    margin-top: 50px;
    margin-bottom: 200px;
    h2 {
        margin-bottom: 15px;
    }
}
.blogItemsList {
    padding-left: 0;
}
.blogItem {
    position: relative;
    margin-bottom: 15px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    cursor: pointer;
    
}

.itemTitle {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    button {
        margin-right: 7px;
        margin-top: 7px;
    }
}

.shortText {
    margin-top: 15px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
}
.bigText {
    margin-top: 15px;
    padding: 10px;
}
.comments {
    padding: 20px 0;
}
.commentsTitle {
    margin-bottom: 20px;
}
.commentsList {
    padding: 20px 0;
    .commentsItem {
        list-style: none;
        position: relative;
        button {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}


